/****************************************************
**     Pour largeur < 768px                        **
****************************************************/

/*********** Fixer le style global ******************/
html {
  font-size: 0.625rem;
}

body {
  font-size: 1.6rem;
  color: #444444;
  font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*********** Grille globale ******************/
.page-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  /* pour 100vh sur chrome mobile (cf code JS dans index.html) */
  min-height: calc(var(--vh, 1vh) * 100);
}

/*********** Header ******************/
.header-wrapper {
  background-color: #2c2c32;
  /*center le header  dans le viewport horizontal*/
  display: flex;
  justify-content: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.main-header {
  /* pour placer le menu en absolu */
  position: relative;
  /* fixer la largeur maxi du contenu (1170p + 30px de marge = 1200px) */
  width: 100%;
  max-width: 117rem;
}

/*********** Logo ******************/
.header-logo {
  display: inline-block;
  font-size: 2rem;
  line-height: 2rem;
  height: fit-content;
  color: white;
  text-decoration: none;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  /* placement du logo */
  padding-left: 3.3rem; /*décalage du texte */
  margin-left: 0rem;
  margin-right: 1.5rem;
  background: url("img/css3-logo.png");
  background-size: 2.1rem 2.4rem;
  background-repeat: no-repeat;
  background-position: left;
}

/*********** NAV Toggle button ******************/
/* Toggle button HTML/CSS https://code.visualstudio.com/docs */
.nav-toggle-button {
  float: right;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  box-sizing: border-box;
  height: 3.2rem;
  width: 4.2rem;
  margin: 1rem 0rem 0.8rem 0;
  padding: 0.9rem 1rem;
  cursor: pointer;
  line-height: 2rem;
}

.nav-toggle-button > span {
  background-color: white;
  display: block;
  width: 2.2rem;
  height: 0.2rem;
  padding: 0;
  border-radius: 0.1rem;
}

#nav-toggle,
.nav-toogle-text {
  display: none;
}

#nav-toggle:checked + nav ul {
  display: flex;
  flex-flow: column nowrap;
}

/*********** Menu principal <768px ******************/
/* .main-nav {
    
  } */
.main-nav ul {
  display: none;
  list-style-type: none;
  /* pour ne pas pousser le conteneu et apparaitre au dessus */
  position: absolute;
  z-index: 99;
  background-color: #555555;
  /*position du menu toggle aligné sur left/right de .main-header + 1.5rem de padding de .header-wrapper */
  right: -1.5rem;
  left: -1.5rem;
  clear: both;
  margin: 0;
  padding: 1.5rem;
  /* le bas du menu toogle ne dépasse pas 70% du vh */
  box-sizing: border-box;
  max-height: calc(70vh - 5rem);
  /* scroll sur le menu toogle s'il n'est pas assez grand pour afficher tous les items*/
  overflow-y: auto;
}

.main-nav ul li a {
  color: white;
  text-decoration: none;
  opacity: 0.6;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.main-nav ul li a:hover {
  opacity: 1;
}

/*********** Article principal ******************/
.article-wrapper {
  /*center l'article dans le viewport horizontal*/
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

.main-article {
  /* fixer la largeur maxi du contenu (1170p + 30px de marge = 1200px) */
  width: 100%;
  max-width: 117rem;
  /* Texte de l'article */
  text-align: justify;
  color: #444444;
}

.main-article img {
  width: 100%;
  max-width: 75rem;
  display: block;
  margin: auto;
  border: 1px solid #444444;
}

.main-article ul li {
    margin-top: 16px;
}
.main-article a {
  text-decoration: none;
  color: #0071bc;
  /* margin-top: 48px; */
}

.main-article p {
  font-weight: normal;
}

.main-article h1,
.main-article h2 {
  font-weight: lighter;
}

/* Pour largeur < 768px */
.main-article > h1 {
  font-size: 2.55rem;
}

.main-article > h2 {
  font-size: 1.87rem;
}

.main-article > p {
  font-size: 1.4rem;
}

/*********** gallery-items ******************/
.gallery-items {
  /* font-size: 1.6rem; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  grid-gap: 2rem;
  clear: both;
}

.gallery-item-card {
  border: #dedede solid 1px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  padding: 1.6rem;
}

.gallery-item-card img {
  border: none;
  max-width: 50%;
  aspect-ratio: auto 128 / 128;
  display: block;
  margin: auto;
}

.gallery-item-card h3 {
  font-size: 1.4rem;
  text-align: start;
}

.gallery-item-card p {
  font-size: 1.2rem;
  text-align: start;
}

/*********** Footer ******************/

.footer-wrapper {
  background-color: #2c2c32;
  /*center le footer dans le viewport horizontal*/
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

.main-footer {
  /* fixer la largeur maxi du contenu (1170p + 30px de marge = 1200px) */
  width: 100%;
  max-width: 1170px;
}

.footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.footer-links a {
  color: #ffffff;
  opacity: 0.6;
  text-decoration: none;
  padding-right: 1.5rem;
}

/****************************************************
  **     Pour largeur > 768px                        **
  ****************************************************/

@media screen and (min-width: 768px) {
  /********* effacer le nav-toggle-button ******************/
  .navbar-toggle,
  .nav-toggle-button {
    display: none;
  }

  /********* afficher le menu à droite du logo ******************/
  .main-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .main-nav {
    /* le menu prend toute la largeur dispo 
              dans le header (après le logo)*/
    flex: 1;
  }

  /********* menu normal en ligne ******************/
  .main-nav ul {
    /* retirer la position absolue */
    position: static;
    /* disposition des li en ligne */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    /*même couleur de fond que le header */
    background-color: #2c2c32;
    /* positionnement du texte dans le header */
    padding: 0;
  }

  .main-nav ul li a {
    opacity: 0.6;
    line-height: 2rem;
    padding: 1.6rem 0rem 1.5rem 1.5rem;
  }

  /********* si le menu toggle est ouvert ******************/
  #nav-toggle:checked + nav ul {
    flex-flow: row wrap;
  }

  /********* Font-size du texte ******************/
  .main-article h1 {
    font-size: 3.6rem;
  }

  .main-article h2 {
    font-size: 2.7rem;
  }

  .main-article p {
    font-size: 1.6rem;
  }
}

/****************************************************
  **     Pour largeur > 992px                        **
  ****************************************************/
@media screen and (min-width: 992px) {
  /********* Font-size du texte ******************/
  .main-article h1 {
    font-size: 3.8rem;
  }

  .main-article h2 {
    font-size: 2.85rem;
  }

  .main-article p {
    font-size: 1.6rem;
  }
}

/****************************************************
  **     Pour largeur > 1200px                       **
  ****************************************************/
@media screen and (min-width: 1200px) {
  /********* Font-size du texte ******************/
  .main-article h1 {
    font-size: 4rem;
  }

  .main-article h2 {
    font-size: 3rem;
  }

  .main-article p {
    font-size: 1.6rem;
  }
}
